@import 'toolbar';
@import 'sidenav';

#wrapper {
  position: relative;
}

.main {
  padding: 16px;
  margin: 0 auto;
  max-width: 800px;
}

.section {
  margin-bottom: 2em;
}

.section {
  h2,h3,h4,h5,h6 {
    font-family: $roboto-condensed;
    text-transform: uppercase;
  }
}

#support {
  margin-top: 32px;
}

#guide {
  text-align: center;
  font-size: 24px;
}
