body, html {
  font-family: $roboto;
  @include fontSize(16px);
  font-weight: 400;
  color: $primary-text;
  background-color: #FFF;
}

a {
  text-decoration: none;

  &:link {
    color: $primary-color;
  }
  &:visited {
    color: darken($primary-color, 20%);
  }
  &:hover,&:active {
    color: darken($primary-color, 10%);
  }
}

//Aggiustare h1~h6

b, strong, dfn {
  font-weight: 600;
}

i {
  font-weight: inherit;
  font-style: italic;
}

mark {
  padding: 0 .3em;
}

code, samp, pre, kbd {
  font-family: $roboto-mono;
}

img, figure {
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: auto;
    line-height: 0;
}

nav {
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
}

pre, code {
  font-size: 12px !important;
  background-color: $primary-text;
  color: #ffffff;
  @include borderRadius(2px);
}

pre {
  padding: 8px;
}

code {
  padding: 2px 4px;
}
