// VARIABLES

$roboto: 'Roboto', Arial, Helvetica, sans-serif;
$roboto-condensed: 'Roboto Condensed', Arial, Helvetica, sans-serif;
$roboto-mono: 'Roboto Mono', Courier, monospace;

//TYPOGRAPHY
$dark-primary-color: #303F9F;
$primary-color: #3F51B5;
$icons: #FFFFFF;
$primary-text: #212121;
$secondary-text: #727272;
