// SUPPORT BUTTONS
#support {
    text-align: center;
    margin: 0 1em;
    padding: 3em 0;
    @include borderRadius(3px);
    
    h4 {
        margin-top:0 !important;
        text-transform: capitalize;
    }
}

.support-btn {
    display: inline-block;
}

@media all and (max-width: $mobileQuery) {
    #support {
        margin: 0 auto;
    }
}
