/*
** MAIN NAVBAR
*/

.main-navbar {
    position: relative;
    height: $navbarHeight;
    font-size: $nbTextSize;
    font-weight: $nbTextWeight;

    #{$links} {
        font-size: inherit;
    }
}

.navbar-fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.main-navbar-content {
    padding-top: 16px;
}

.toggle-sidebar {
    width: 32px;
    height: 32px;
    float: right;
    cursor: pointer;
}

.navbar-nav {
    float: left;
    
    nav {
        ul {
            li {
                display: inline-block;
                cursor: pointer;
            }
        }
    }
}

.logo {
    margin-right: 1em;
    height: 32px;
}