//WEBPAGE STRUCTURE
.main {
    position: relative;
}

.main-fixed-top {
    margin-top: 64px;
}

//Section Header
.section-header {
    padding: 3em 0;
    margin-bottom: 3em;
}

.support {
    margin-top: 2em;
}

.alert {
    padding: 1em;
}

.section, section {
    margin-bottom: 3em;
    
    header {
        margin-bottom: 1em;
    }
}