//Navbar
.main-navbar {
    position: relative;
    height: $navbarHeight;
    font-size: $nbTextSize;
    font-weight: $nbTextWeight;
    
    #{$links} {
        font-size: inherit;
    }
    
    .glyphicon {
        top: 5px;
    }
}

.navbar-fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.navbar-content {
    margin-top: 6px;
}

.navbar-icons {
    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        
        li {
            font-size: $iconSize;
            top: 0;
            display: inline-block;
            margin: 0 2.5pt;
            padding: 0 !important;
            
            &:last-child, &:first-child {
                margin: 0;
            }
            
            &:first-child {
                margin-right: 2.5pt;
            }
            
            &:last-child {
                margin-left: 2.5pt;
            }

        }
    }
}

#toggle-sidebar {
    font-size: $menuBtn;
    margin-top: 4pt;
    display: inline-block;
    cursor: pointer;
}
